version: '3.7'
services:
  mysql-db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: 'abc_bank'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: '12345678'
      MYSQL_ROOT_PASSWORD: '12345678'
    ports:
      - '3306:3306'
    command: --init-file /data/application/init.sql
    volumes:
      - ./init.sql:/data/application/init.sql
    expose:
      - '3306'
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 30s
      retries: 10

  keycloak-service:
    image: quay.io/keycloak/keycloak:15.0.2
    #    container_name: keycloak-service
    restart: always
    ports:
      - 8080:8080
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin

  rabbitmq-service:
    image: rabbitmq:3.9-management
    #    container_name: rabbitmq-service
    restart: always
    ports:
      - 5672:5672
      - 15672:15672
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 30s
      retries: 5

  api-service:
    build: api-service
#    container_name: api-service
    restart: always
    ports:
      - 3001:3001
    environment:
      - PORT=3001
      - RABBITMQ_HOST=amqp://rabbitmq-service:5672
      - QUEUE=cats_queue
      - EMIT_TRANSACTION_DIVISION_SIZE=500
      - KEYCLOAK_AUTH_SERVICE_URL=http://keycloak-service:8080/auth
      - KEYCLOAK_REALM=abc_bank
      - KEYCLOAK_CLIENT_ID=api-transaction-service
      - KEYCLOAK_SECRET=f3121929-7b4f-4314-a95c-f78c0f4f7869
    depends_on:
      - transaction-service
      - rabbitmq-service

  transaction-service:
    build: transaction-service
#    container_name: transaction-service
    restart: always
    environment:
      - RABBITMQ_HOST=amqp://rabbitmq-service:5672
      - QUEUE=cats_queue
      - DB_TYPE=mysql
      - DB_HOST=mysql-db
      - DB_PORT=3306
      - DB_USERNAME=root
      - DB_PASSWORD=12345678
      - DB_DATABASE=abc_bank
      - DB_SYNCHRONIZE=false
    depends_on:
      - rabbitmq-service
      - keycloak-service
      - mysql-db
